/* MAIN */
html, body {

    background-color: #E8E2D2;
    height: 100%;
    overflow: hidden;  
    font-family: Helvetica, Arial, sans-serif;
}

body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#intro {
    padding-top: 20px;
}

.face {
    height: calc(15vw + 40px);
    float: left;
    margin-left: 5vw;
    margin-top: 3vh;
    padding-right: 5vw;
    border-right: 1px solid black;

}

.face img {
    width: auto;
    height: 15vw;

    border: 20px solid #DE9E7C;
    border-radius: 50%;
}

.desc {
    float: left;
    margin-left: 5vw;
    height: calc(15vw + 40px);
    width: 62vw;

}

.desc-header {
    font-size: 35px;
    font-weight: bold;
}

#learn-more {
	
	position: absolute;
    margin: auto;
    top: 75vh; 
    left: calc(50% - (0.5 * 20vw));
    width: 20vw;
    height: 10vh;
    line-height: 10vh;
    background-color: #DD795A;
    text-align: center;
    border-radius: 60px;
    transition: 0.7s;
}

#learn-more a {
    position: relative;
    color: #E6E3D2;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bold;
    text-decoration: none;

    display: block;
    height: 100%;
    width: 100%;  
}


/* HEADER */
header {
    background-color: #455136;
    color: rgb(45, 45, 45);
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;

}

h1 {
    color: #E6E3D2;
    text-align: center;
    font-size: 100px;
    margin: 0;
    padding-left: 15px;
}

li{
    list-style-type: none;
    margin: 2vw 0;
    display: inline;
    padding: 1vw;

  }
  
  a{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    color: #DE9E7C;
    transition: 0.7s;
  }
  
  nav{
    width: 100vw;
  }
  
  ul{
    text-align: center;
    margin: 0;
    padding: 20px; 
  }
  
  body{
    margin: 0;
  }
  
  button{
    display: none;
  }

  #learn-more:hover{
    background-color: #DE9E7C;
  }
  
  a:hover{
    color: #DD795A;
  }

  a:active{
    color: #DD795A;
  }














  
  @media only screen and (max-width: 500px) {
    ul{
      flex-direction: column;
    }
    
    a{
      display: block;
    }
    
    li{
      margin: 0;
    }
    
    button{
      display: block;
      
      padding: 2vw;
      font-size: 3vh;
      background-color: #AFE0FF;
      border: none;
      outline: none;
      cursor: pointer;
      
      align-self: flex-start;
    }
  }
